:root {
  --foreground: #333;
  --background: #EEE;
  --primary: #808;
  --sans-serif: "Noto Sans", sans-serif;
  --mono: "Fira Mono", monospace;
  --serif: "Manuale", serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img, svg, video {
  max-width: 100%;
}

nav.chapter-links {
  background: var(--foreground);
  color: var(--background);
  padding: 20px;
}

nav.chapter-links ul {
  list-style-type: none;
  display: flex;
  max-width: 800px;
  margin: auto;
  padding: 0;
  justify-content: space-between;
  font-family: var(--sans-serif);
}

nav.chapter-links a {
  color: currentColor;
  text-decoration: none;
}

nav.chapter-links.bottom {
  margin-top: 60px;
}

@media (max-width: 480px) {
  nav.chapter-links.top .next {
    display: none;
  }
  
  nav.chapter-links.bottom .previous {
    display: none;
  }
}

main {
  max-width: 800px;
  margin: auto;
  padding: 16px;
  font-family: var(--sans-serif);
  font-size: 18px;
  line-height: 1.4;
}

a {
  color: var(--primary);
}

a:visited {
  color: var(--foreground);
}

code pre {
  font-family: var(--mono);
  font-size: 16px;
  padding: 16px 8px;
  background: var(--foreground);
  color: var(--background);
  border-radius: 4px;
  overflow-x: auto;
}

var {
  font-family: var(--mono);
  border: 1px dashed #E8E8E8;
  padding: 0 2px;
  font-style: normal;
}

aside.summary {
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  max-width: 400px;
  font-style: italic;
  margin: auto;
  font-family: serif;
}

aside.sidebar {
  border: 4px dashed #DDD;
  padding: 16px;
  font-size: 16px;
}

/* table of contents */
.table-of-contents ol.chapters {
  list-style-type: upper-roman;
  list-style-position: inside;
  padding: 0;
}

.table-of-contents ol.chapters > li {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.table-of-contents ol.section {
  border-top: 1px solid black;
  padding-top: 24px;
  padding-left: 36px;
  font-size: 20px;
  font-weight: normal;
  list-style-type: lower-roman;
  list-style-position: outside;
}

.table-of-contents .summary {
  font-style: italic;
  font-size: 16px;
  font-family: var(--serif);
}

.table-of-contents ol.section > li {
  padding-bottom: 16px;
}

.table-of-contents a {
  text-decoration: none;
}

.table-of-contents a[href=""] {
  color: #888;
}

.table-of-contents a[href=""]::after {
  color: #333;
  content: " (TK)"
}

.language-undefined pre {
  background: red !important;
}