<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Noto+Sans|Manuale" rel="stylesheet">
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="static/highlight/hybrid.css">

  <!-- BEGIN TWITTER SUMMARY CARD -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:site" content="@thomaswilburn">
  <meta name="twitter:image" content="https://thomaswilburn.github.io/viz-book/static/social.jpg">
  <meta name="twitter:description" content="{{summary}}">

  <!-- Social sharing meta -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{title}}">
  <meta property="og:site_name" content="Web Components at Work">
  <meta property="og:image" content="https://thomaswilburn.github.io/viz-book/static/social.jpg">
  <meta property="og:description" content="{{summary}}">
</head>
<body class="{{slug}} {{type}}">
  <nav class="chapter-links top">
    <ul>
      <li class="previous"> <a href="{{prevURL}}"> &laquo; {{prevTitle}}</a>
      <li> <a href="index.html">&bigstar;</a>
      <li class="next"> <a href="{{nextURL}}"> {{nextTitle}} &raquo;</a>
    </ul>
  </nav>
  <main>
  <aside class="summary">
    {{summary}}
  </aside>
  <h1>{{title}}</h1>
{{content}}
  </main>
  <nav class="chapter-links bottom">
    <ul>
      <li class="previous"> <a href="{{prevURL}}"> &laquo; {{prevTitle}}</a>
      <li> <a href="index.html">&bigstar;</a>
      <li class="next"> <a href="{{nextURL}}"> {{nextTitle}} &raquo;</a>
    </ul>
  </nav>
</body>
</html>
