<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>The Elegant Selection</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Noto+Sans|Manuale" rel="stylesheet">
  <link rel="stylesheet" href="static/style.css">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="The Elegant Selection">
  <meta name="twitter:site" content="@thomaswilburn">
  <meta name="twitter:image" content="https://thomaswilburn.github.io/viz-book/static/social.jpg">
  <meta name="twitter:description" content="Building news graphics and data visualizations for the modern web">
  <meta name="twitter:url" content="https://thomaswilburn.github.io/viz-book/">

  <!-- Social sharing meta -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="Table of Contents">
  <meta property="og:site_name" content="The Elegant Selection">
  <meta property="og:image" content="https://thomaswilburn.github.io/viz-book/static/social.jpg">
  <meta property="og:description" content="Building news graphics and data visualizations for the modern web">
  <meta property="og:url" content="https://thomaswilburn.github.io/viz-book/">
</head>
<body class="table-of-contents">
  <main>
  <h1>The Elegant Selection</h1>
  <h2>Building news graphics and data visualizations for the modern web</h2>
  <h3>Table of Contents</h3>
  <ol class="chapters">
{{content}}
  </ol>
  </main>
</body>
</html>
